.BadgeDetails__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: #ffffff;
}
  
.BadgeDetails__hero-attendant-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.BadgeDetails__buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
} 
